.App{
    text-align: center;
    font-family:'Courier New', Courier, monospace
}
img {
    max-width: 60%;
    margin: 25px;
}
ul {
    list-style-type: none;
    text-align: left;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    margin: 10px;
    width: 60%;
    background-color: lightblue;
    border-radius: 10px;
}
.api-pic {
    width: 200px;
}

p, li {
    font-size: large;
}